

/* Group 8 */
.background {
    position: absolute;
    width: 930px;
    height: 819px;
    left: 97px;
    top: 68px;


}

/* Rectangle 18 */

.adminboard {
    position: absolute;
    width: 226px;
    height: 819px;
    left: -100px;
    top: 68px;
    

}


